:root {
    /* info icon ratio */
    --info-icon-width: 235px;
    --info-icon-height: 125px;
}

/* section - heading */
#heading-container {
    padding: 110px 0 110px 74px;
    position: relative;
    animation: fadeIn 1s ease-in forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#heading-container #title-heading {
    width: 716px;
    font-family: var(--font-family-montserrat);
}
#title-heading span:first-of-type {
    font-size: var(--font-size-xl);
    font-weight: 700;
    color: var(--fun-blue);
}
#title-heading span:last-of-type {
    font-size: var(--font-size-l);
    font-weight: 400;
    color: var(--tundora);
}
#heading-container #mainBtn {
    width: 182px;
    height: 46px;
    margin-top: 12px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: var(--font-size-m);
    font-family: var(--font-family-montserrat);
    background-color: var(--fun-blue);
    box-shadow: 2px 8px 16px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section - stat info */
#stat-info-container {
    display: flex;
    justify-content: space-evenly;
}
#stat-info-container .info-card {
    width: 235px;
    height: auto;
    color: var(--tundora);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 110px;
    font-family: var(--font-family-montserrat);
    font-weight: 700;
    border: 2px solid var(--fun-blue);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn-card 1s ease forwards;
}
@keyframes fadeIn-card {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.info-card * {
    margin-bottom: 10px;
}
.info-card:nth-child(1) {
    animation-delay: 0.3s !important;
}
.info-card:nth-child(2) {
    animation-delay: 0.6s !important;
}
.info-card:nth-child(3) {
    animation-delay: 0.9s !important;
}
.info-card .info-icon-container {
    width: auto;
    height: var(--info-icon-height);
    display: flex;
    justify-content: center;
}
.info-card span {
    font-size: var(--font-size-l);
}
span#ruanganCount, span#assetCount, span#userCount {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    transition: opacity 1s ease-out;
}
.info-card p {
    width: 95%;
    font-weight: 400;
    text-align: center;
}
.info-icon-container > img {
    width: 80%;
    height: 100%;
    object-fit: contain;
}

/* from cssloaders.github.io */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom-color: var(--fun-blue);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}