:root {
    /* color */
    --fun-blue: #1a5daa;
    --tundora: #444343;
    /* font-family */
    --font-family-montserrat: "Montserrat", Helvetica;
    --font-family-inter: "Inter", Helvetica;
    --font-family-ubuntu: "Ubuntu", serif;
    /* font-size */
    --font-size-s: 12px;
    --font-size-m: 14px;
    --font-size-l: 40px;
    --font-size-xl: 48px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #ecf6f6;
    font-size: 14px;
}

hr {
    width: 95%;
    /* border-top -> height */
    border-top: 1px solid transparent;
    background-color: black;
}

.logo-container {
    position: relative;
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100%;
}

.span-fun-blue {
    color: var(--fun-blue);
    font-style: normal;
    font-weight: 700;
}