#wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

/* SIDEBAR SECTION */
#sidebar-container {
    width: 25%;
    padding: 0 32px;
    box-shadow: 6px 0 32px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    position: relative;
}
/* Website Logo */
#sidebar-container > #logo-container {
    width: 100%;
    padding: 12px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar-container > #logo-container > img {
    width: 158px;
    -webkit-user-drag: none;
}
/* Profile Picture */
#sidebar-container > #profile_picture-container {
    width: 100%;
    padding: 24px 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar-container > #profile_picture-container > img {
    width: 143px;
    border: 1px solid lightgray;
    border-radius: 50%;
    -webkit-user-drag: none;
}
/* Profile Info */
#sidebar-container > #profile_info-container {
    font-size: 16px;
    font-family: var(--font-family-montserrat);
}
/* Profile Info -> Child Element */
#sidebar-container > #profile_info-container > div {
    display: flex;
    flex-direction: column;
}
#sidebar-container > #profile_info-container > div:not(:last-child) {
    margin-bottom: 32px;
}
#sidebar-container > #profile_info-container > div > span:nth-child(2) {
    margin: 8px 0 0;
    font-weight: 700;
}
/* Edit Profile Button */
#sidebar-container > #profile_btn-container {
    width: 100%;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar-container > #profile_btn-container > #profile_edit-btn {
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: var(--fun-blue);
    border: none;
    border-radius: 6px;
}
#sidebar-container > #profile_btn-container > #profile_edit-btn:hover {
    background-color: #1a569a;
    cursor: pointer;
}

/* MAIN SECTION */
#main-container {
    width: 75%;
    margin-top: 135px;
    padding: 0 74px 0 37px;
}
#main-container > hr:first-of-type {
    margin-bottom: 80px;
}
/* Heading */
#main-container > #heading-container {
    padding-left: 16px;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-family-montserrat);
    color: var(--fun-blue);
}
/* Item List */
#main-container > #item-container {
    display: flex;
    flex-direction: column;
}
/* Item List -> Parent Element of Each Item */
#main-container > #item-container > .item {
    width: 100%;
    height: 60px;
    padding: 0 16px;
    margin-bottom: 12px;
    font-size: 14px;
    font-family: var(--font-family-montserrat);
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
}
/* Item List -> Child Element of Each Item */
#main-container > #item-container > .item > .item-date {
    width: 200px;
}
#main-container > #item-container > .item > .item-name {
    font-weight: 700;
}
#main-container > #item-container > .item > .item-btn {
    width: 160px;
    height: 32px;
    margin-right: 16px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    position: absolute;
    right: 0;
}
#main-container > #item-container > .item > .item-btn:hover {
    cursor: pointer;
}


hr {
    width: 100%;
    margin: 8px 0;
}
.item-btn.item_borrowed {
    color: black;
    background-color: #F5B153;
}
.item-btn.item_borrowed:hover {
    background-color: #e6a64d;
}
.item-btn.item_requested {
    color: white;
    background-color: #EE4141;
}
.item-btn.item_requested:hover {
    background-color: #dd3c3c;
}
.required-asterisk { color: red; }
.required-asterisk::before { content: " *"; }