:root {
    --a-input-select-padding-size: 8px;
}


#wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
}

/* SIDEBAR SECTION */
#sidebar-container {
    width: 25%;
    padding: 0 32px;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.098);
    display: flex;
    flex-direction: column;
    position: relative;
}
/* Website Logo */
#sidebar-container > #logo-container {
    width: 100%;
    padding: 12px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar-container > #logo-container > img {
    width: 158px;
    -webkit-user-drag: none;
}
/* Profile Picture */
#sidebar-container > #profile_picture-container {
    width: 100%;
    padding: 24px 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar-container > #profile_picture-container > img {
    width: 143px;
    border: 1px solid lightgray;
    border-radius: 50%;
    -webkit-user-drag: none;
}
/* Profile Info */
#sidebar-container > #profile_info-container {
    font-size: 16px;
    font-family: var(--font-family-montserrat);
}
/* Profile Info -> Child Element */
#sidebar-container > #profile_info-container > div {
    display: flex;
    flex-direction: column;
}
#sidebar-container > #profile_info-container > div:not(:last-child) {
    margin-bottom: 32px;
}
#sidebar-container > #profile_info-container > div > span:nth-child(2) {
    margin: 8px 0 0;
    font-weight: 700;
}
/* Edit Profile Button */
#sidebar-container > #profile_btn-container {
    width: 100%;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar-container > #profile_btn-container > #profile_edit-btn {
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: var(--fun-blue);
    border: none;
    border-radius: 6px;
}
#sidebar-container > #profile_btn-container > #profile_edit-btn:hover {
    background-color: #1a569a;
    cursor: pointer;
}

/* MAIN SECTION */
#main-container {
    width: 75%;
    margin-top: 135px;
    padding: 0 74px 0 37px;
}
#main-container > hr:first-of-type {
    margin-bottom: 80px;
}
/* Heading */
#main-container > #heading-container {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-family-montserrat);
    color: var(--fun-blue);
}
/* Item List */
#main-container > #item-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
}

#main-container > #heading-title{
    font-weight: bold !important;
}
/* Item List -> Header/Column Title */
#main-container > #item-container > #item-header-title {
    padding: 16px;
    margin-bottom: 12px;
    font-size: 16px;
    font-family: var(--font-family-inter);
    font-weight: 400;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
}
#main-container > #item-container > #item-header-title > span {
    width: 200px;
}
/* Item List -> Parent Element of Each Item */
#main-container > #item-container > .item {
    width: 100%;
    height: 60px;
    padding: 0 16px;
    margin-bottom: 12px;
    font-size: 14px;
    font-family: var(--font-family-montserrat);
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
}
/* Item List -> Child Element of Each Item */
/* #main-container > #item-container > .item > span {
    width: 200px;
} */
#main-container > #item-container > .item > .item-date {
    width: 200px;
}
#main-container > #item-container > .item > .item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#main-container > #item-container > .item > .item-request_id {
    font-weight: 700;
    /* text-decoration: underline; */
}
#main-container > #item-container > .item > .item-btn {
    width: 160px;
    height: 32px;
    margin-right: 16px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    position: absolute;
    right: 0;
}
#main-container > #item-container > .item > .item-btn:hover {
    cursor: pointer;
}

/* MODAL SECTION */
#modal-wrapper {
    width: 100%;
    height: 100%;
    padding-left: 25%;
    background-color: rgba(0, 0, 0, 0.125);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
#modal-wrapper.active {
    display: flex !important;
}
#modal-wrapper > #modal-edit_profile {
    width: 600px;
    height: 616;
    padding: 32px 0 48px;
    background-color: #ECF6F6;
    border-radius: 12px;
    box-shadow: 6px 0 16px 0 rgba(0, 0, 0, 0.125);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: solid red; */
}
/* Modal -> Edit Profile Picture */
#modal-wrapper > #modal-edit_profile > #form-edit_profile > #edit-profile_picture {
    font-size: 14px;
    font-family: var(--font-family-montserrat);
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#modal-wrapper > #modal-edit_profile > #form-edit_profile > #edit-profile_picture > img {
    width: 124px;
    margin: 8px 0 16px;
    border: 1px solid #1B5AA3;
    border-radius: 50%;
}
/* Modal -> Edit Profile Data */
#modal-wrapper > #modal-edit_profile > #form-edit_profile > #edit-profile_data {
    width: 360px;
    display: flex;
    flex-direction: column;
    /* border: solid salmon; */
}
#modal-wrapper > #modal-edit_profile > #form-edit_profile > #edit-profile_data
    > div:last-child {
    display: flex;
    flex-flow: row wrap;
    gap: 0 6px;
}
#modal-wrapper > #modal-edit_profile > #form-edit_profile > #edit-profile_data label {
    margin: 6px 0;
    font-size: 14px;
    font-family: var(--font-family-montserrat);
    font-weight: 300;
}
#modal-wrapper > #modal-edit_profile > #form-edit_profile > #edit-profile_data input,
#modal-wrapper > #modal-edit_profile > #form-edit_profile > #edit-profile_data select {
    height: 45px;
    border: 2px solid #444343;
    border-radius: 4px;
}
#modal-wrapper > #modal-edit_profile > #form-edit_profile > #edit-profile_data >
  div:last-child > label:first-of-type,
#modal-wrapper > #modal-edit_profile > #form-edit_profile > #edit-profile_data >
  div:last-child > select:first-of-type {
    width: calc(60% - 3px);
}
#modal-wrapper > #modal-edit_profile > #form-edit_profile > #edit-profile_data >
  div:last-child > label:last-of-type,
#modal-wrapper > #modal-edit_profile > #form-edit_profile > #edit-profile_data >
  div:last-child > select:last-of-type {
    width: calc(40% - 3px);
}
#form-edit_profile {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}
#modal-wrapper > #modal-edit_profile > #form-edit_profile > button[type=submit] {
    width: 100%;
    height: 100%;
    margin-top: 24px;
    color: white;
    font-size: 16px;
    font-family: var(--font-family-montserrat);
    font-weight: 700;
    background-color: var(--fun-blue);
    border: none;
    border-radius: 10px;
}
#modal-wrapper > #modal-edit_profile > #form-edit_profile > button[type=submit]:hover {
    background-color: #1a569a;
    cursor: pointer;
}
#modal-wrapper > #modal-edit_profile > div.exit-modal {
    position: absolute;
    padding: 6px;
    top: 24px;
    right: 32px;
}
#modal-wrapper > #modal-edit_profile > div.exit-modal:hover {
    cursor: pointer;
}
#modal-wrapper > #modal-edit_profile > div.exit-modal > img {
    width: 16px;
    -webkit-user-drag: none;
}

#request-table{
    font-family: 'Ubuntu', serif;
    width : 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: .2rem;
}

#request-table td{
    padding : .5rem 1rem;
}

#request-table thead td{
    margin-bottom: 1rem;
    font-weight: bold;
}

hr {
    width: 100%;
    margin: 8px 0;
}
input {
    padding: var(--a-input-select-padding-size) !important;
}
select, option {
    padding: calc(var(--a-input-select-padding-size) / 2) !important;
}
select:focus {
    margin: 0;
}
.item-btn.item_borrowed {
    color: black;
    border-radius: .5rem;
    border: none;
    font-weight : bold;
    padding : .5rem;
    background-color: #F5B153;
}
.item-btn.item_borrowed:hover {
    background-color: #e6a64d;
}
.item-btn.item_requested {
    color: white;
    background-color: #EE4141;
}
.item-btn.item_requested:hover {
    background-color: #dd3c3c;
}
.required-asterisk { color: red; }
.required-asterisk::before { content: " *"; }

#info{
    font-family: 'Ubuntu', serif;
    /* color : #1B5AA3; */
}

#info h2{
    text-align : center;
}

#info-detail{
    display : grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    margin : 2rem 0;
    row-gap: 0;
}

#return-detail{
    display : grid;
    grid-template-columns:100%;
    column-gap: 1rem;
    margin : 2rem 0;
    row-gap: 0;
}

#info-detail img{
    width : 100%;
    height: 100%;
    object-fit: cover;
}

#detail-text h3{
    margin : 0;
    text-align: left;
}

#detail-text{
    display : grid ;
    grid-template-columns: max-content min-content auto;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
}

#detail-text input{
    width : 90%;
}


#detail-text textarea{
    padding : .5rem;
    width : 90%;
}

#detail-title{
    font-weight : bold;
    font-size :1.2rem;
    color : black;
    line-height: 1.2rem;
    margin : 0;
}

#detail-time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#detail-time input{
    width: 45%;
}

#info hr{
    margin: 2rem 0;
}

#imagePreview{
    display : flex;
    flex-wrap : wrap;
    justify-content: flex-start;
}

.rating .star {
    font-size: 2rem;
    color: #9f9f9f;
    cursor: pointer;
}
.rating .star:hover,
.rating .star.active {
    color: #ffc107;
}