#table-area{
    overflow: auto;
    height : 60vh;
}

#table-head{
    position :sticky;
    top : 0;
    background-color : #f3f5fc;
    font-weight : bold;
}

#room-header{
    display : flex;
    flex-wrap : wrap;
    justify-content: space-between;
}