/* section - heading */
#heading-container {
    padding: 55px 74px 0 74px;
    display: flex;
    flex-flow: wrap column;
    position: relative;
    /* border: solid red; */
    animation: fadeInHeading 1s ease-in forwards;
}
@keyframes fadeInHeading {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
#heading-container > hr {
    width: 100%;
    border: 2px solid var(--fun-blue);
    margin: 6px 0 23px;
}
#heading-container #title-heading {
    color: var(--fun-blue);
    padding-top: 23px;
    text-align: center;
    font-size: var(--font-size-l);
    font-family: var(--font-family-montserrat);
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
}

#content-container {
    padding: 32px 74px 78px;
    /* border: solid goldenrod; */
    display: flex;
    justify-content: center;
    position: relative;
}
#content-container #image-container {
    border: 1px solid #828585;
    border-radius: 8px;
    display: flex;
    position: relative;
    overflow: hidden;
}
#image-container > img {
    width: 816px;
    height: 512px;
    object-fit: cover;
}
#content-container #info-container {
    width: 539px;
    padding-left: 40px;
    font-family: var(--font-family-montserrat);
    /* border: solid salmon; */
}
#info-container #about-room {
    font-size: 16px;
    line-height: 20px;
}
#about-room > span {
    font-weight: 700;
    text-decoration: underline;
}
#about-room > p {
    margin-top: 12px;
    font-size: 14px;
    text-align: justify;
}
#info-container #reservation-btn {
    width: 100%;
    height: 60px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin: 32px 0;
    background-color: var(--fun-blue);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
#info-container #reservation-btn:hover {
    background-color: #1a569a;
}

#info-container #review-container {
    border: none;
}
#review-container > span {
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}
#review-container .review {
    width: 100%;
    /* border: solid cornflowerblue; */
}
#review-container .review:not(:last-child) {
    margin-bottom: 24px;
}
.review .rv-user-profile {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 6px;
}
.rv-user-profile > img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: fill;
}
.rv-user-profile > span:hover {
    cursor: pointer;
    text-decoration: underline;
}
.review .rv-rating-and-date {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.rv-rating-and-date .rv-rating-star {
    height: 12px;
    display: flex;
}
.rv-rating-and-date .rv-date-created {
    font-size: 11px;
}
.review .rv-message {
    color: rgb(83, 83, 83);
    font-size: 13px;
}