<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aset dan Ruangan</title>
    <script src="/js/cssLinkLoader.js"></script>
    <script src="/js/templateLoader.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="template-sidebar"></div>
    <Script>
        document.addEventListener("DOMContentLoaded", () => {
            const template = new Template(['sidebar']);
        });

        loadCSS([
            'main',
            'template/admin',
            'font/ubuntu'
        ])
    </Script>
</body>
</html>