<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #202124;
            color: white;
        }

        a {
            color: cornflowerblue;
            font-size: 1.3rem;
        }
    </style>
</head>
<body>
    <div style="padding: 0 10px;">
        <h2>Fasilitasi Aktivitasmu Tanpa Ribet.</h2>
        <h2>Pinjam Ruangan dan Aset Kampus Langsung Sat-Set!</h2>
        <a href="/login">Daftar Sekarang</a>
    </div>
</body>
</html>