<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <title>Dashboard Admin</title>
</head>
<body style="height: 100vh;">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-lg-2" style="background-color:#222e3c;">Col 1</div>
            <div class="col-lg-10" style="background-color:lavenderblush;">Col 2</div>
        </div>
        <div></div>
    </div>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>