<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="/js/cssLinkLoader.js"></script>
    <style>
        /* Mencegah FOUC */
        @import url("https://fonts.googleapis.com/css?family=Montserrat:700,400|Inter:700,400");
    </style>
</head>
<body>
    <div id="sidebar-container">
        <div id="logo-container">
            <img src="/assets/images/logo/fttk_logo.png" alt="logo_umrah">
        </div>
        <div id="profile_info-container">
            <div id="user-name">
                <span class="profile_label">Nama</span>
                <span class="profile_data"  id="name_field">M. Zaidaan Nugroho</span>
            </div>
            <div id="user-nim">
                <span class="profile_label">NIM</span>
                <span class="profile_data"  id="nim_field">2201020011</span>
            </div>
        </div>
    </div>
    <Script>
        loadCSS([
            'main',
            'dashboard',
            'font/ubuntu'
        ])
    </Script>
</body>
</html>