<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/font/ubuntu.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <style>
      body{
        font-family: "Ubuntu", serif;
        padding : 0;
        margin : 0;
        width: 100%;
      }
    </style>      
  </head>
  <body style="margin: 0;padding : 0;">
    <input type="hidden" id="anPageName" name="page" value="beranda">
    <div class="container-center-horizontal" style="margin: 0;padding : 0;">
      <div class="beranda screen " data-id="109:183" style="margin: 0;padding : 0;">
        <div class="mac-book-air-1-LN8ZrO" data-id="101:2" style="margin: 0;padding : 0;">
          <div class="navbar" data-id="106:3" style="margin: 0;padding : 0;">
            <div class="nav-item">
              <a class="navbar-list" href="/kontak">Kontak</a><div></div>
              <a class="navbar-list" href="/peminjaman">Pinjam</a><div></div>
              <a class="navbar-list" href="/">Beranda</a><div></div>
              <a class="daftar" href="/register">Daftar</a><div></div>
              <a class="daftar" href="/login">Masuk</a><div></div>
            </div>
            <img class="logo-fttk" src="/assets/images/logo/fttk_logo.png" alt="Mask group">
          </div>

          <h1 class="title">
            <span class="span0">Fasilitasi Aktivitasmu Tanpa Ribet.</span>
            <span class="span2">Pinjam Ruangan dan Aset Kampus Langsung Sat-Set!</span>
          </h1>

          <div class="main-button">
            <a href="/peminjaman">
              <div class="daftar-button" data-id="109:182" id="mainButton">Daftar Sekarang</div>
            </a>
          </div>

          <center>
            <div class="info-group content" data-id="111:494">
              <center>
              <div class="info-card" data-id="111:485">
                  <img class="info-image group" style="object-fit: contain;" src="/assets/images/icon/gedung.png" alt="Group">
                  <h2 class="info-value" id="ruanganCount">-</h2>
                  <img class="info-line" data-id="111:483" src="/assets/images/shape/line.svg" alt="Line 1">
                  <p class="info-title montserrat-normal-tundora-14px" data-id="111:484">Ruangan yang sedia untuk digunakan</p>
                </div>
              </center>
              <center>
              <div class="info-card" data-id="111:489">
                  <img class="info-image group" style="object-fit: contain;" src="/assets/images/icon/asset.png" alt="Group">
                  <h2 class="info-value" id="assetCount">-</h2>
                  <img class="info-line" src="/assets/images/shape/line.svg" alt="Line 2">
                  <p class="info-title montserrat-normal-tundora-14px" data-id="111:487">Aset dan peralatan yang sedia untuk digunakan</p>
                </div>
              </center>
              <center>
              <div class="info-card" data-id="111:493">
                  <img class="info-image" style="object-fit: contain;" src="/assets/images/icon/user-account-b.png" alt="Group">
                  <h2 class="info-value" id="userCount">-</h2>
                  <img class="info-line" src="/assets/images/shape/line.svg" alt="Line 3">
                  <div class="info-title montserrat-normal-tundora-14px" data-id="111:491">Mahasiswa yang sudah mendaftar</div>
                </div>
              </center>
            </div>
          </center>
          <div style="background: #444343" class="footer">
      
            <div style="width: 265.46px; height: 169px; position:relative ">
              <div style="width: 160.46px;  color: white; font-size: 14px;  font-weight: 700; text-decoration: underline; word-wrap: break-word">Legal</div>
              <div style="width: 160.46px;  color: white; font-size: 12px;  font-weight: 400; word-wrap: break-word">Syarat dan ketentuan</div>
              <div style="width: 160.46px;  color: white; font-size: 12px;  font-weight: 400; word-wrap: break-word">Copyright © 2025</div>
              <div style="width: 160.46px;  color: white; font-size: 12px;  font-weight: 400; word-wrap: break-word">Kontrak</div>
            </div>
      
            <div style="width: 194.76px; height: 37px; position:relative;">
              <div style="width: 194.76px; color: white; font-size: 14px;  font-weight: 700; text-decoration: underline; word-wrap: break-word">Bantuan</div>
              <div style="width: 160.46px; color: white; font-size: 12px;  font-weight: 400; word-wrap: break-word">FAQ</div>
            </div>
      
            <div style="width: 238.85px; height: 55px; position: relative;">
              <div style="width: 238.85px; color: white; font-size: 14px;  font-weight: 700; text-decoration: underline; word-wrap: break-word">Pelayanan</div>
              <div style="width: 160.46px; color: white; font-size: 12px;  font-weight: 400; word-wrap: break-word">FTTK</div>
              <div style="width: 160.46px; color: white; font-size: 12px;  font-weight: 400; word-wrap: break-word">Akademik</div>
            </div>
            
            <div class="sosmed" colspan="2">
                <img src="/assets/images/logo/facebook.png" alt="" width="50" height="50">
                <img src="/assets/images/logo/instagram.png" alt="" width="50" height="50">
                <img src="/assets/images/logo/linkedin.png" alt="" width="50" height="50">
                <img src="/assets/images/logo/youtube.png" alt="" width="50" height="50">
                <img src="/assets/images/logo/twitter.png" alt="" width="50" height="50">
            </div>
            
            <img style="position:absolute; left:2rem; bottom : 2rem; width: 100px; height: 42px;" src="/assets/images/logo/fttk_logo-w.png" />
          </div>
      </div>
    </div>
 </body>
</html>
<script>
  const assetCount = document.getElementById("assetCount");
  const ruanganCount = document.getElementById("ruanganCount");
  const userCount = document.getElementById("userCount");
  const mainButton = document.getElementById("mainButton");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.scrollIntoView({ behavior: "smooth", block: "center" });
      }
    });
  }, {
    threshold: 0.5 // Memicu jika 50% dari elemen terlihat di viewport
  });

  document.querySelectorAll('.content').forEach(section => {
    observer.observe(section);
  });

  $.ajax({
    url : "/api/stat",
    method : "GET"
  }).done((e)=>{
    console.log(e);
    assetCount.innerHTML = e.data.assetCount;
    ruanganCount.innerHTML = e.data.ruanganCount;
    userCount.innerHTML = e.data.userCount;
    mainButton.innerHTML = e.data.userLogin ? "Peminjaman" : "Daftar Sekarang";
  });
</script>