<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/cssLinkLoader.js"></script>
    <script src="/js/templateLoader.js"></script>
    <title>Home</title>
    <style>
        /* Mencegah FOUC */
        body {visibility: hidden;}
        @import url("https://fonts.googleapis.com/css?family=Montserrat:700,400|Inter:700,400");
    </style>
</head>
<body>
    <!-- Header/Navbar -->
    <div id="template-header"></div>
    <!-- Heading Title -->
    <div id="heading-container">
        <h1 id="title-heading">
            <span>Fasilitasi Aktivitasmu Tanpa Ribet.</span>
            <span>Pinjam Ruangan dan Aset Kampus Langsung Sat-Set!</span>
        </h1>
        <a id="mainBtn" href="/peminjaman">Daftar Sekarang</a>
    </div>
    <!-- Stat Info -->
    <div id="stat-info-container">
        <div class="info-card">
            <div class="info-icon-container">
                <img src="/assets/images/icon/gedung.png">
            </div>
            <span class="loader"></span>
            <span id="ruanganCount">0</span>
            <hr/>
            <p>Ruangan yang tersedia untuk digunakan</p>
        </div>
        <div class="info-card">
            <div class="info-icon-container">
                <img src="/assets/images/icon/asset.png">
            </div>
            <span class="loader"></span>
            <span id="assetCount">0</span>
            <hr/>
            <p>Aset dan peralatan yang sedia untuk digunakan</p>
        </div>
        <div class="info-card">
            <div class="info-icon-container">
                <img src="/assets/images/icon/person.png">
            </div>
            <span class="loader"></span>
            <span id="userCount">0</span>
            <hr/>
            <p>Mahasiswa yang sudah mendaftar</p>
        </div>
    </div>
    <!-- Footer -->
    <div id="template-footer"></div>
    <script>
        const template = new Template(['header', 'footer']);
        loadCSS([
            'main',
            'home2',
            'template/header',
            'template/footer'
        ]);

        const loader       = document.getElementsByClassName("loader");
        const ruanganCount = document.getElementById("ruanganCount"); 
        const assetCount   = document.getElementById("assetCount");
        const userCount    = document.getElementById("userCount");
        const mainBtn      = document.getElementById("mainBtn");

        const countView = [ruanganCount, assetCount, userCount];
        
        $.ajax({
            url: "/api/stat",
            method: "GET"
        }).done((e) => {
            console.log(e);
            
            while (loader.length > 0) {
                loader[0].remove();
            }

            const countData = [e.data.ruanganCount, e.data.assetCount, e.data.userCount];
            
            countView.forEach((element, index) => {
                element.innerHTML        = countData[index];
                element.style.opacity    = 1;
                element.style.visibility = 'visible';
                element.style.maxHeight  = 'none';
            });

            mainBtn.textContent = e.data.userLogin ? "Peminjaman" : "Daftar Sekarang";
        });
    </script>
</body>
</html>