<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>   
    <script src="https://separuh.s3.ap-southeast-2.amazonaws.com/public/js/cssLinkLoader.js"></script>
    <script src="https://separuh.s3.ap-southeast-2.amazonaws.com/public/js/templateLoader.js"></script>
    <title>Home</title>
    <style>
        /* Mencegah FOUC */
        body {visibility: hidden;}
        @import url("https://fonts.googleapis.com/css?family=Montserrat:700,400|Inter:700,400");
    </style>
    <script>
        /*
        
        Want to customize your button? visit our documentation page:
        
        https://login.equalweb.com/custom-button.taf
        
        */
        window.interdeal = {
            "sitekey": "cc64a3f98a3edcbf27e4d9f3f9d71b22",
            "Position": "right",
            "domains": {
                "js": "https://cdn.equalweb.com/",
                "acc": "https://access.equalweb.com/"
            },
            "Menulang": "ID",
            "btnStyle": {
                "vPosition": [
                    "95%",
                    "95%"
                ],
                "scale": [
                    "0.5",
                    "0.5"
                ],
                "color": {
                    "main": "#1c4bb6",
                    "second": "#ffffff"
                },
                "icon": {
                    "outline": false,
                    "type": 10,
                    "shape": "circle"
                }
            }
        };
        (function(doc, head, body){
            var coreCall             = doc.createElement('script');
            coreCall.src             = interdeal.domains.js + 'core/5.0.9/accessibility.js';
            coreCall.defer           = true;
            coreCall.integrity       = 'sha512-dxjHZQgpVIG70EQus4+1KR3oj2KGyrtwR/nr4lY+tcMjrQ1Yb9V1SCKNVLGhD3CcPMgANKAqOk4ldI8WWNnQTw==';
            coreCall.crossOrigin     = 'anonymous';
            coreCall.setAttribute('data-cfasync', true );
            body? body.appendChild(coreCall) : head.appendChild(coreCall);
        })(document, document.head, document.body);
    </script>
</head>
<body>
    <!-- Header/Navbar -->
    <div id="template-header"></div>
    <!-- Heading Title -->
    <div id="heading-container">
        <div id="title-heading">
            <span>Fasilitasi Aktivitasmu Tanpa Ribet.</span>
            <span>Pinjam Ruangan dan Aset Kampus Langsung Sat-Set!</span>
        </div>
        <a id="mainBtn" href="/peminjaman">Daftar Sekarang</a>
    </div>
    <!-- Stat Info -->
    <div id="stat-info-container">
        <div class="info-card">
            <div class="info-icon-container">
                <img src="https://separuh.s3.ap-southeast-2.amazonaws.com/public/assets/images/icon/gedung.png">
            </div>
            <span class="loader"></span>
            <span id="ruanganCount">0</span>
            <hr/>
            <p>Ruangan yang tersedia untuk digunakan</p>
        </div>
        <div class="info-card">
            <div class="info-icon-container">
                <img src="https://separuh.s3.ap-southeast-2.amazonaws.com/public/assets/images/icon/asset.png">
            </div>
            <span class="loader"></span>
            <span id="assetCount">0</span>
            <hr/>
            <p>Aset dan peralatan yang sedia untuk digunakan</p>
        </div>
        <div class="info-card">
            <div class="info-icon-container">
                <img src="https://separuh.s3.ap-southeast-2.amazonaws.com/public/assets/images/icon/person.png">
            </div>
            <span class="loader"></span>
            <span id="userCount">0</span>
            <hr/>
            <p>Mahasiswa yang sudah mendaftar</p>
        </div>
    </div>
    <!-- Footer -->
    <div id="template-footer"></div>
    <script>
        const template = new Template(['header', 'footer']);
        loadCSS([
            'main',
            'home2',
            'template/header',
            'template/footer',
            'font/ubuntu'
        ]);

        // Observer jika diperlukan
        const infoContainer = document.getElementById('stat-info-container');
        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.scrollIntoView({ behavior: 'smooth', block: 'center' });
                }
            });
        }, { threshold: 0.5 });
        // observer.observe(infoContainer);

        const loader       = document.getElementsByClassName("loader");
        const ruanganCount = document.getElementById("ruanganCount");
        const assetCount   = document.getElementById("assetCount");
        const userCount    = document.getElementById("userCount");
        const mainBtn      = document.getElementById("mainBtn");

        const countView = [ruanganCount, assetCount, userCount];
        
        $.ajax({
            url: "/api/stat",
            method: "GET"
        }).done((e) => {
            console.log(e);
            
            // Removes loading animation
            while (loader.length > 0) {
                loader[0].remove();
            }

            // Data viewer
            const countData = [e.data.ruanganCount, e.data.assetCount, e.data.userCount];
            countView.forEach((element, index) => {
                element.innerHTML        = countData[index];
                element.style.opacity    = 1;
                element.style.visibility = 'visible';
                element.style.maxHeight  = 'none';
            });

            // Button below title-heading
            mainBtn.textContent = e.data.userLogin ? "Peminjaman" : "Daftar Sekarang";
        });
    </script>
</body>
</html>