<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #202124;
            color: white;
        }

        a {
            display: block;
            margin-bottom: 12px;
            color: cornflowerblue;
            font-size: 1.3rem;
        }
    </style>
</head>
<body>
    <div style="padding: 0 10px;">
        <h2>Test Kelompok Pemrograman Web</h2>
        <a href="/login">1. Login</a>
        <a href="/login2">2. Login - Design Figma</a>
    </div>
</body>
</html>