<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/login2.css">
    <title>Login</title>
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/sweetalert2@11.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="image-container">
            <img src="/assets/img/login-background.png" alt="Background-Login">
            <div class="overlay">
                <div id="titled-logo">
                    <img src="/assets/img/logo-fttk.png" alt="Logo-FTTK">
                </div>
            </div>
        </div>
        <div id="form-container">
            <form id="form">
                <label aria-labelledby="Email|Username">
                    Email atau Username<br />
                    <input type="text" name="Email|Username" id="username"
                    placeholder="Masukkan email atau username"  />
                </label>
                <label aria-labelledby="Email|Username">
                    Password<br />
                    <input type="password" name="Email|Username" id="password"
                    placeholder="Masukkan password" />
                </label>
                <a href="/recovery">Lupa Password</a>
                <button type="submit">Login</button>
                <div href="#" id="google-login-btn">
                    Lanjutkan dengan akun google
                    <div id="icon-container">
                        <img src="/assets/img/logo-google.png" alt="icon-google">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<script>
    document.getElementById('form').addEventListener('submit', async function() {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        try {
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password })
            });

            if (!response.ok) {
                throw new Error('Login failed');
            }

            const data = await response.json();
            let res = await Swal.fire({
                title: data.status == 200 ? 'Sukses' : 'Error',
                text: data.message,
                icon: data.status == 200 ? 'success' : 'error',
                confirmButtonText: 'Oke',
              });
            if(data.status == 200 && res){
                window.location.href = "/";
            }
        } catch (err) {
            document.getElementById('Error').innerText = err.message;
        }
    });
</script>