<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/login2.css">
    <title>Login</title>
</head>
<body>
    <div id="wrapper">
        <div id="image-container">
            <img src="/assets/img/login-background.png" alt="Background-Login">
            <div class="overlay">
                <div id="titled-logo">
                    <img src="/assets/img/logo-fttk.png" alt="Logo-FTTK">
                </div>
            </div>
        </div>
        <div id="form-container">
            <form id="form">
                <label aria-labelledby="Email|Username">
                    Email atau Username<br />
                    <input type="text" name="Email|Username"
                    placeholder="Masukkan email atau username" />
                </label>
                <label aria-labelledby="Email|Username">
                    Password<br />
                    <input type="text" name="Email|Username"
                    placeholder="Masukkan password" />
                </label>
                <a href="#">Lupa Password</a>
                <button type="submit">Login</button>
                <a href="#" id="google-login-btn">
                    Lanjutkan dengan akun google
                    <div id="icon-container">
                        <img src="/assets/img/logo-google.png" alt="icon-google">
                    </div>
                </a>
            </form>
        </div>
    </div>
</body>
</html>