<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peminjaman</title>
    <script src="/js/cssLinkLoader.js"></script>
    <script src="/js/templateLoader.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <style>
        /* Mencegah FOUC */
        body {visibility: hidden;}
        @import url("https://fonts.googleapis.com/css?family=Montserrat:700,400|Inter:700,400");
    </style>
</head>
<body>
    <div id="template-header"></div>
    <div id="heading-container">
        <div id="title-heading">
            <span>Peminjaman Ruangan dan Aset</span>
        </div>
        <hr>
    </div>
    <div id="content-container">
        <div id="filter-container">
            <section>
                <span>Jenis</span>
                <button>
                    <img src="/assets/images/icon/checkmark.png">
                    Ruangan
                </button>
                <button>
                    <img src="/assets/images/icon/checkmark.png">
                    Aset
                </button>
            </section>
            <section>
                <span>Rating</span>
                <button>
                    <img src="/assets/images/icon/checkmark.png">
                    Tertinggi
                </button>
                <button>
                    <img src="/assets/images/icon/checkmark.png">
                    Terendah
                </button>
                <button class="flex-f">
                    <img src="/assets/images/icon/checkmark.png">
                    Paling sering dipinjam
                </button>
            </section>
            <section>
                <span>Lainnya</span>
                <button>
                    <img src="/assets/images/icon/checkmark.png">
                    Ready
                </button>
            </section>
        </div>
        <div id="item-container">
            <div id="pagination-container"></div>
        </div>
    </div>
    <div id="template-footer"></div>
    <script>
        const template = new Template(['header', 'footer']);
        const container = document.getElementById('item-container');

        loadCSS([
            'main',
            'peminjaman2',
            'template/header',
            'template/footer',
            'font/ubuntu'
        ]);

        function toggleFilter(element) {
            if (!element) {
                console.log("Filter button not found!");
                return;
            }
            element.classList.toggle('active');
        }

        let currentPage = 1;
        function getCurrentPage(dataPage) {
            return document.getElementById(`page-${dataPage}`);
        }

        function getActiveButton() {
            return document.getElementsByClassName('page-btn active')[0];
        }

        function updatePagination(btnCount, pageNum = 1) {
            currentPage = pageNum;
            console.log(currentPage);
            let prevBtn = document.getElementById('prevPageBtn');
            if (currentPage > 1) {
                prevBtn.classList.remove('disabled');
                prevBtn.disabled = false;
            }
            else {
                prevBtn.classList.add('disabled');
                prevBtn.disabled = true;
            }

            let nextBtn = document.getElementById('nextPageBtn');
            if (currentPage < btnCount) {
                nextBtn.classList.remove('disabled');
                nextBtn.disabled = false;
            }
            else {
                nextBtn.classList.add('disabled');
                nextBtn.disabled = true;
            }
        }

        const filterButtons = document.querySelectorAll('#filter-container button');
        filterButtons.forEach((btn) => {
            btn.addEventListener('click', function() {
                toggleFilter(btn);
            });
        });

        $.ajax({
            url: '/api/room',
            method: 'GET'
        })
        .done(function(e, textStatus, xhr) {
            if (!e.data) {
                console.log("Data not found!");
                return;
            }

            template.generateItems(e.data);
            const pageButtons = document.getElementById('pagination-container').getElementsByClassName('page-btn');
            Array.from(pageButtons).forEach((btn) => {
                btn.addEventListener('click', function() {
                    if (this.classList.contains('active')) return;
                    // console.log(getCurrentPage(getActiveButton().getAttribute('data-page')));
                    // console.log(getActiveButton());
                    // Hide current page
                    getCurrentPage(getActiveButton().getAttribute('data-page')).classList.toggle('show-page');
                    getActiveButton().classList.toggle('active');

                    // Show selected page
                    document.getElementById(`page-${this.getAttribute('data-page')}`).classList.toggle('show-page');
                    this.classList.toggle('active');
                    
                    updatePagination(pageButtons.length, parseInt(this.getAttribute('data-page')));
                })
            });
            
            document.getElementById('prevPageBtn').addEventListener('click', function() {
                let activeBtn = getActiveButton();
                currentPage = parseInt(activeBtn.getAttribute('data-page'));
                if (currentPage <= 0) { return; }
                else if (currentPage - 1 === 1) {
                    this.disabled = true;
                    this.classList.toggle('disabled');
                }
                // Hide current page
                getCurrentPage(getActiveButton().getAttribute('data-page')).classList.remove('show-page');
                activeBtn.classList.remove('active');
                // Show previous page
                document.getElementById(`page-${currentPage-1}`).classList.add('show-page');
                document.querySelectorAll(`.page-btn[data-page="${currentPage-1}"]`)[0].classList.add('active');
                updatePagination(pageButtons.length, currentPage-1);
            });

            document.getElementById('nextPageBtn').addEventListener('click', function() {
                let activeBtn = getActiveButton();
                currentPage = parseInt(activeBtn.getAttribute('data-page'));
                if (currentPage >= pageButtons.length) { return; }
                else if (currentPage + 1 === pageButtons.length) {
                    this.disabled = true;
                    this.classList.toggle('disabled');
                }
                // Hide current page
                getCurrentPage(getActiveButton().getAttribute('data-page')).classList.remove('show-page');
                activeBtn.classList.remove('active');
                // Show previous page
                document.getElementById(`page-${currentPage+1}`).classList.add('show-page');
                document.querySelectorAll(`.page-btn[data-page="${currentPage+1}"]`)[0].classList.add('active');
                updatePagination(pageButtons.length, currentPage+1);
            });
        });
    </script>
</body>
</html>