<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peminjaman</title>
    <script src="/js/cssLinkLoader.js"></script>
    <script src="/js/templateLoader.js"></script>
    <style>
        /* Mencegah FOUC */
        body {visibility: hidden;}
        @import url("https://fonts.googleapis.com/css?family=Montserrat:700,400|Inter:700,400");
    </style>
</head>
<body>
    <div id="template-header"></div>
    <div id="heading-container">
        <div id="title-heading">
            <span>Peminjaman Ruangan dan Aset</span>
        </div>
        <div id="search-nav-container">
            <h2>Filter utama: Ruangan dan Asset disini</h2>
            <input type="text" id="search-input" placeholder="Placeholder search input" />
        </div>
    </div>
    <div id="content-container">
        <div id="filter-container">Filter item disini</div>
        <div id="item-container">List item disini</div>
    </div>
    <div id="template-footer"></div>
    <script>
        const template = new Template(['header', 'footer']);
        loadCSS([
            'main',
            'peminjaman2',
            'template/header',
            'template/footer'
        ]);
    </script>
</body>
</html>