<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/font/ubuntu.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/cssLinkLoader.js"></script>
   
</head>
<style>
    /* Mencegah FOUC */
    body {visibility: hidden;}
    @import url("https://fonts.googleapis.com/css?family=Montserrat:700,400|Inter:700,400");
</style>
<body>
    <div id="wrapper">
        <div id="sidebar-container">
            <div id="logo-container">
                <img src="/assets/images/logo/fttk_logo.png" alt="logo_umrah">
            </div>
            <div id="profile_picture-container">
                <img src="/assets/images/profile-picture.png" alt="profile_picture">
            </div>
            <div id="profile_info-container">
                <div id="user-name">
                    <span class="profile_label">Nama</span>
                    <span class="profile_data"  id="name_field"></span>
                </div>
                <div id="user-nim">
                    <span class="profile_label">NIM</span>
                    <span class="profile_data"  id="nim_field"></span>
                </div>
                <div id="user-phone_number">
                    <span class="profile_label" >No. Whatsapp<span class="required-asterisk"></span></span>
                    <span class="profile_data" id="phone_field">-</span>
                </div>
                <div id="user-major">
                    <span class="profile_label" >Jurusan<span class="required-asterisk"></span></span>
                    <span class="profile_data" id="major_field">-</span>
                </div>
                <div id="user-gender">
                    <span class="profile_label" >Jenis Kelamin<span class="required-asterisk"></span></span>
                    <span class="profile_data" id="gender_field">-</span>
                </div>
            </div>
            <div id="profile_btn-container">
                <button id="profile_edit-btn" title="Edit Profile" onclick="showModal()">Perbarui BioData</button>
            </div>
        </div>
        <div id="main-container">
            <div id="heading-container">
                <h2 id="heading-title" style="font-weight: bold;">History Peminjaman</h2>
            </div>
            <br>
            <table  id="request-table">
                <thead id="">
                    <td>No</td>
                    <td>Request ID</td>
                    <td>Start</td>
                    <td>End</td>
                    <td>Jenis</td>
                    <td>Status</td>
                </thead>
                <tbody id="item-container">
                
                
                </tbody>
            </table>
            
        </div>
        <div id="modal-wrapper">
            <div id="modal-edit_profile">
                <form id="form-edit_profile" autocomplete="off">
                    <div id="edit-profile_picture">
                        <span>Foto Profil</span>
                        <img src="/assets/images/profile-picture.png" alt="profile-picture">
                    </div>
                    <div id="edit-profile_data">
                        <!-- Input nama -->
                        <label for="username">Nama</label>
                        <input type="text" id="name" name="name">
                        <!-- Input NIM -->
                        <label for="nim">NIM</label>
                        <input type="text" id="nim" name="nim">
                        <!-- Input No.WA -->
                        <label for="wanum">No. Whatsapp</label>
                        <input type="text" id="phone" name="wanum">
                        <div>
                            <label for="major">Jurusan</label>
                            <label for="gender">Jenis Kelamin</label>
                            <!-- Input Jurusan -->
                            <select id="major" name="major">
                                <option value="" selected>Pilih Jurusan</option>
                                <option value="1">Teknik Elektro</option>
                                <option value="2">Teknik Informatika</option>
                                <option value="3">Teknik Perkapalan</option>
                            </select>
                            <!-- Input Gender -->
                            <select id="gender" name="gender">
                                <option value="">Pilih gender</option>
                                <option value="1">Laki-Laki</option>
                                <option value="2">Perempuan</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" id="updateProfile" title="Edit dan Simpan Data Profil">Simpan</button>
                </form>
                <div class="exit-modal">
                    <img src="/assets/images/icon/cross-exit.png">
                </div>
            </div>
        </div>

    </div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
    
      <div class="modal-body">
        <div id="info">
            <h2 >Detail Peminjaman</h2>
            <hr>
            <div id="info-detail">
                <img id="item_image" src="https://separuh.s3.ap-southeast-2.amazonaws.com/${reqData[idx].item_id}.png">
                <div id="detail-text">
                    <span id="detail-title">Request ID </span><span>: </span><input type="text" disabled id="req_id">
                    <span id="detail-title">ID <span id="req_type"></span></span> <span>:</span>  <input type="text" disabled id="item_id">
                    <span id="detail-title">Status </span><span>:</span><input type="text" disabled id="req_status">
                    <span id="detail-title">Note</span><span>:</span><input type="text" disabled id="req_note">
                    <span id="detail-title">Tanggal Peminjaman</span><span>:</span>
                    <div id="detail-time">
                        <input type="datetime" disabled id="req_start">
                        <b>-</b>
                        <input type="datetime" disabled id="req_end">
                    </div>
                    <span id="detail-title">Tujuan </span> <span>:</span> <textarea disabled id="req_reason"></textarea>
                </div>
            </div>     
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <script src="/js/sweetalert2@11.js"></script>
    <script>
        const form = document.getElementById('form-edit_profile');
        const modal = document.getElementById('modal-wrapper');
        const close_btn = document.getElementsByClassName('exit-modal')[0];
        const username_field = document.getElementById('username_field');
        const name_field = document.getElementById('name_field');
        const nim_field = document.getElementById('nim_field');
        const phone_field = document.getElementById('phone_field');
        const major_field = document.getElementById('major_field');
        const gender_field = document.getElementById('gender_field');
        const btn_update = document.getElementById('updateProfile');

        //element dalam input form
        const name = document.getElementById('name');
        const nim = document.getElementById('nim');
        const phone = document.getElementById('phone');
        const major = document.getElementById('major');
        const gender = document.getElementById('gender');

        //info peminjaman
        const req_id = document.getElementById('req_id');
        const req_start = document.getElementById('req_start');
        const req_end = document.getElementById('req_end');
        const req_note = document.getElementById('req_note');
        const req_reason = document.getElementById('req_reason');
        const req_type = document.getElementById('req_type');
        const req_status = document.getElementById('req_status');
        const item_id = document.getElementById('item_id');
        const item_image = document.getElementById('item_image');

        //all data
        let reqData = [];

        const container = document.getElementById('item-container');

        function showModal() {
            modal.classList.add('active');
        }

        function hideModal() {
            modal.classList.remove('active');
            form.reset();
        }

        close_btn.addEventListener('click', hideModal);
        btn_update.addEventListener('click', async(e)=>{
            e.preventDefault();
            btn_update.disabled = true;
            console.log("test");
            let res = await fetch(
                '/api/profile',{
                    method : "POST",
                    headers : {
                        "content-type" : "application/json"
                    },
                    body: JSON.stringify({
                        name : name.value,
                        nim : nim.value,
                        phone : phone.value,
                        major : major.value,
                        gender : gender.value
                    })
                }
            );

            if(!res.ok)console.log(res.statusText);
            let data = await res.json();
            fetchUserData();
            let confirm = await Swal.fire({
                title: data.status == 200 ? "Berhasil" : "Gagal",
                text: data.message,
                icon: data.status == 200 ? "success" : "error"
            });
            btn_update.disabled = false;

        });

        loadCSS([
            'main',
            'profile',
            'font/ubuntu'
        ])

        async function fetchUserData(){
            try{
                let res = await fetch(
                    '/api/profile',
                    );

                if(!res.ok) console.log(res.statusText);
                res = await res.json();
                let profile = res.data.profile ;
                name_field.innerHTML = profile.name ?? "-";
                nim_field.innerHTML = profile.nim ?? "-";
                phone_field.innerHTML = profile.phone ?? "-";
                major_field.innerHTML = profile.major ?? "-";
                gender_field.innerHTML = profile.gender ?? "-";
                name.value = profile.name ?? "-";
                nim.value = profile.nim ?? "-";
                phone.value = profile.phone ?? "-";
                major.value = profile.major ?? "-";
                gender.value = profile.gender ?? "-";

            }catch(e){
                console.log(e);
            }
        }

        let status = [
            "Pending",
            "Ditolak",
            "Diterima",
            "Pengembalian",
            "Dikembalikan"
        ];

        async function getUserRequest(){
            try{
                let res = await fetch('/api/user/request');
                if(!res.ok) console.log(res.statusText);

                let data = await res.json();
                console.log(data.data);

                let idx = 0;
                reqData = data.data;
                data.data.forEach((e)=>{
                    idx++;
                    container.innerHTML += `
                    <tr>
                        <td class="item-date">${idx}</td>
                        <td class="item-request_id">${e.request_id}</dt>
                        <td class="item-date">${e.req_start.substring(0,10)} </td>
                        <td class="item-date">${e.req_end.substring(0,10)}</td>
                        <td class="item-name">${e.req_type ? "Asset" : "Ruangan"}</td>
                        <td class="item-name">${status[e.status]}</td>
                        <td>
                            <button class="item-btn item_borrowed">Pengembalian</button>
                            <button onClick="showDetail(${idx-1})" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"> Detail </button>
                        </td>
                    </tr>
                    `;
                });

            }catch(e){
                console.log(e);
            }
        }

        fetchUserData();
        getUserRequest();

        function showDetail(idx){
            req_id.value = reqData[idx].request_id;
            req_start.value = reqData[idx].req_start;
            req_end.value = reqData[idx].req_end;
            req_reason.value = reqData[idx].reason;
            req_note.value = reqData[idx].note;
            item_id.value = reqData[idx].item_id;
            req_type.innerHTML = reqData[idx].req_type ? "Asset" : "Ruangan";
            req_status.value = status[reqData[idx].status];
            item_image.src = `https://separuh.s3.ap-southeast-2.amazonaws.com/${reqData[idx].item_id}.png`;
            return;
            Swal.fire({
                html : `
                <div id="info">
                    <h2>Detail Peminjaman</h2>
                    <hr>
                    <div id="info-detail">
                        <img src="https://separuh.s3.ap-southeast-2.amazonaws.com/${reqData[idx].item_id}.png">
                        <div id="detail-text">
                            <h3>Request ID : ${reqData[idx].request_id}</h3>
                            <h3>ID ${reqData[idx].req_type ? "Asset" : "Ruangan"} : ${reqData[idx].item_id}</h3>
                            <h3>Status : ${status[reqData[idx].status]}</h3>
                        </div>
                    </div>     
                </div>
                `,
                confirmButtonText : "Oke"
            });
        }
    </script>
</body>
</html>