<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/font/ubuntu.css">
    <link rel="stylesheet" href="/css/recover.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/sweetalert2@11.js"></script>
</head>
<body>
    <div class="main">
        <form action="/recovery" method="post">
            <h3>Halaman Pemulihan Akun</h3><br>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Masukkan email akun anda :</label>
                <input type="email" class="form-control" name="email" id="emailInput" placeholder="name@example.com">
            </div>
            <button class="btn btn-primary" id="action-btn">Pulihkan</button>
        </form>
    </div>
</body>
</html>
<script>
    const actionButton = document.getElementById('action-btn');
    actionButton.addEventListener('click', async (e)=>{
        const email = document.getElementById('emailInput').value;
        e.preventDefault();
        const response = await fetch('/recovery', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({email})
        });

        if (!response.ok) {
            throw new Error('Login failed');
        }
        let data = await response.json();
        if(data){
            let res = await Swal.fire({
                title: data.status == 200 ? 'Sukses' : 'Error',
                text: data.message,
                icon: data.status == 200 ? 'success' : 'error',
                confirmButtonText: 'Oke',
              });
        }
        console.log(data);
    });
</script>
