<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peminjaman Ruangan</title>
    <script src="/js/templateLoader.js"></script>
    <script src="/js/cssLinkLoader.js"></script>
    <style>
        /* Mencegah FOUC */
        body {visibility: hidden;}
        @import url("https://fonts.googleapis.com/css?family=Montserrat:700,400|Inter:700,400");
    </style>
</head>
<body>
    <div id="template-header"></div>
    <div id="heading-container">
        <div id="title-heading">
            <span>Ruangan $room_name</span>
        </div>
        <hr />
    </div>
    <div id="content-container">
        <div id="image-container">
            <img src="https://separuh.s3.ap-southeast-2.amazonaws.com/$room_id.png" alt="gambar_ruangan">
        </div>
        <div id="info-container">
            <div id="about-room">
                <span>Informasi</span>
                <p>Kapasitas : $capacity</p>
                <p>Deskripsi : $description</p>
            </div>
            <button id="reservation-btn" title="Buat reservasi">Buat reservasi</button>
            <div id="review-container">
                <span>Ulasan</span>
                <div class="review">
                    <div class="rv-user-profile">
                        <img alt="Gambar_profile" src="/assets/images/umrah.png">
                        <span class="rv-username">FTTK Umrah</span>
                    </div>
                    <div class="rv-rating-and-date">
                        <div class="rv-rating-star">
                            <img src="/assets/images/icon/rating-star.png">
                            <img src="/assets/images/icon/rating-star.png">
                            <img src="/assets/images/icon/rating-star.png">
                            <img src="/assets/images/icon/rating-star-empty.png">
                            <img src="/assets/images/icon/rating-star-empty.png">
                        </div>
                        <div class="rv-date-created">
                            <span>17/10/2024</span>
                        </div>
                    </div>
                    <div class="rv-message">
                        <p>Lorem ipsum dolor blablablablablablablablab blablabal ablablablabla balblabalba ablablabla.</p>
                    </div>
                </div>
                <div class="review">
                    <div class="rv-user-profile">
                        <img alt="Gambar_profile" src="/assets/images/umrah.png">
                        <span class="rv-username">FTTK Umrah</span>
                    </div>
                    <div class="rv-rating-and-date">
                        <div class="rv-rating-star">
                            <img src="/assets/images/icon/rating-star.png">
                            <img src="/assets/images/icon/rating-star.png">
                            <img src="/assets/images/icon/rating-star.png">
                            <img src="/assets/images/icon/rating-star-empty.png">
                            <img src="/assets/images/icon/rating-star-empty.png">
                        </div>
                        <div class="rv-date-created">
                            <span>17/10/2024</span>
                        </div>
                    </div>
                    <div class="rv-message">
                        <p>Lorem ipsum dolor blablablablablablablablab blablabal ablablablabla balblabalba ablablabla.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-footer"></div>
</body>
<script src="/js/sweetalert2@11.js"></script>

<script>
    const template = new Template(['header', 'footer']);
    loadCSS([
        'main',
        'ruangan',
        'template/header',
        'template/footer',
        'font/ubuntu'
    ])

    let create_reserv = document.getElementById('reservation-btn');
    
    create_reserv.addEventListener('click',(e)=>{
        const url = window.location.href;
        const urlParams = new URLSearchParams(window.location.search);

        $.ajax({
            url : "/api/request",
            method : "POST",
            data :{
                room_id : urlParams.get('id'),
                req_type : parseInt(url.includes('asset') ? 1 : 0),
                req_start : new Date().toDateString(),
                req_end : new Date().toDateString()
            }
        }).done(async (data)=>{
            let confirm = await Swal.fire({
                title: data.status == 200 ? "Berhasil" : "Gagal",
                text: data.message,
                icon: data.status == 200 ? "success" : "error"
            });
        });
    });


</script>
</html>